{% load static %}

<li>
  <article class="post">
    <a href="">
      <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking"
      />
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>
          Mountain hiking offers a chance to immerse yourself in nature's
          grandeur. Breathe in crisp, fresh air as you ascend, leaving behind
          the hustle and bustle of everyday life. Witness breathtaking panoramic
          vistas as you conquer each step, rewarding yourself with stunning
          natural beauty!
        </p>
      </div>
    </a>
  </article>
</li>
